.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 5rem;
    gap: 2rem;
}   



.header {

    height: 200px;
    background: #0D0D0D;
    display: flex;
    align-items: center;
    justify-content: center;

}

.header h1 {
    

    font-size: 2.5rem;
    line-height: 3rem;
    color: #4EA8DE;
    
}

.do {
    color: #5E60CE;
}



.sectionCreate {
    position: absolute;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0;
    gap: 0.5rem;

    width: 46rem;
    height: 3,375rem;
    left: calc(50% - 736px/2);
    top: 173px;
}


.input {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 1rem;
    gap: 0.5rem;

    width: 39,875rem;
    height: 3,375rem;

    background: #262626;
    color: white;
    border: 1px solid #0D0D0D;
    border-radius: 0.5rem;

    flex: none;
    order: 0;
    flex-grow: 1;
}


.buttonCreate {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    gap: 0.5rem;

    width: 5,625rem;
    height: 3.25rem;

    background: #1E6F9F;
    color: white;
    border-radius: 0.5rem;
}

.buttonCreate:hover {
    background: #4EA8DE;
}



.taskStatus {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    padding: 0px;
    gap: 35,0625rem;

    width: 46rem;
    height: 1,1875rem;



}

.taskCriada {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 8px;

    
    height: 19px;

    flex: none;
    order: 0;
    flex-grow: 0;
}

.taskCriada p {
    color: #4EA8DE;
    font-weight: 600;
}

.taskConcluida {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 8px;
    height: 19px;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.taskConcluida p {
    color: #8284FA;
    font-weight: 600;
}

.taskContador {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 2px 8px;
    gap: 10px;
    background: #333333;
    color: white;
    border-radius: 999px;
     
    flex: none;
    order: 1;
    flex-grow: 0;
}


.taskList {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
}




